In [10]:
import pandas as pd
from predict import predict

from sklearn.metrics import mean_absolute_percentage_error

In [11]:
train = pd.read_parquet("train.parquet")
train.head()

,feature0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,...,feature17,feature18,feature19,feature20,feature21,feature22,feature23,feature24,target0,target1
0,32.910908,17.376350,77.557840,2.929855,gas1,20.487150,57.633085,49.245392,-44.124381,23.400064,...,14.203652,9.689942,17.951627,24.198589,102.448710,110.529868,56.817260,12.887802,27.050891,6.502743
1,41.263782,22.419445,47.945514,-25.847472,gas2,21.461239,3.474080,49.659980,-13.553188,-13.047593,...,-14.451904,-0.906120,105.724742,-9.435222,-16.060150,37.286110,61.224272,39.822424,84.127890,76.578716
2,25.580283,17.376350,77.654180,2.799411,gas1,20.487150,28.938295,49.245392,-44.124381,20.610679,...,14.395054,9.779019,17.951638,24.999453,101.728213,111.471534,52.664304,12.887802,22.080133,3.036043
3,33.756900,17.376350,73.049625,2.953982,gas1,20.487150,28.932311,49.245392,-44.124381,18.107963,...,14.184314,9.798969,17.951675,23.990300,101.312113,115.589451,56.840719,12.887802,30.234082,8.910795
4,4.223732,38.772534,48.015553,-25.843943,gas2,24.635721,12.011581,51.030938,84.244199,-17.735680,...,-14.439953,8.262354,90.187207,-2.901661,-16.060150,37.398779,40.488468,128.295838,71.128092,50.475082

In [12]:
train = train.drop(['target0', 'target1'], axis=1)

In [13]:
k = predict(train)

In [14]:
k.shape

(153417, 2)

In [15]:
train.shape

(153417, 25)

In [16]:
k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153417 entries, 0 to 153416
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   target0  153417 non-null  float64
 1   target1  153417 non-null  float64
dtypes: float64(2)
memory usage: 2.3 MB

In [17]:
train.index

RangeIndex(start=0, stop=153417, step=1)